@model User

<form method="post" role="form" class="form-horizontal">
    @Editor(Html.Metadata(x => x.Password, "New Password"))
    <input type="submit" value="Reset Password" />
</form>

@helper Editor(ModelMetadata metadata, object attrs = null)
{
    <div class="form-group">
        <label for="@metadata.PropertyName" class="col-lg-2 control-label">@metadata.DisplayName</label>
        <div class="col-lg-10">@Html.Editor(metadata, new RouteValueDictionary(attrs).Set("class", "form-control"))</div>
    </div>
}
